.custom_scroll_wheel {
  scrollbar-width: thin;
  scrollbar-color: #9747ff transparent;
}

.repeat_green_dots_2 {
  background-image: url("/Backgrounds/greendot.png");
  background-repeat: repeat;
  background-size: 2%;
}

.radial_gradient3 {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse 60% 60% at center,
    transparent 10%,
    #181414 70%
  );
}
