@keyframes expand {
  from {
    clip-path: circle(0% at 50% 50%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}

@keyframes rise-up {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.circular-reveal {
  animation: expand 1.25s ease-in-out forwards;
  animation-delay: 1s;
  clip-path: circle(0% at 50% 50%);
}

.rise-up-0 {
  animation: rise-up 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.rise-up-1 {
  animation: rise-up 0.5s ease-in-out forwards;
  animation-delay: 1.25s;
}

.rise-up-2 {
  animation: rise-up 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.repeat_squares {
  background-image: url("/Backgrounds/square.png");
  background-repeat: repeat;
  background-size: 8%;
}

.radial_gradient {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse 65% 55% at center,
    transparent 10%,
    #181414 70%
  );
}
