.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  transform: translateX(calc(calc(var(--offset) * var(--width)) * -1));
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms, transform 500ms;
}
