@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollLeft {
  0% {
    left: 0;
  }
  100% {
    left: -63%;
  }
}

@keyframes scrollRight {
  0% {
    left: -63%;
  }
  100% {
    left: 0;
  }
}

.animate_left {
  animation: scrollLeft 20s linear infinite;
}

.animate_right {
  animation: scrollRight 20s linear infinite;
}
